@import "@style/variable";

* {
  padding: 0;
  margin: 0;
}

html,
body,
div#app {
  //background-color: $bg_color;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

div#app {
  display: flex;
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #40a0ff49;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #40a0ff;
}
